<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>ImageJ</string>
	<key>uuid</key>
	<string>7F92CFAD-59A1-4A11-A17C-67D42F0590F5</string>
</dict>
</plist>
